<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interactivelearning.datastructuresandalgorthims" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:theme = "@style/AppTheme" >

        <activity
            android:name = ".TopicActivity"
            android:label = "@string/title_activity_topic" >
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name = ".ArrayTopicActivity"
            android:label = "@string/array_topic_activity"
            android:parentActivityName = ".TopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".ArrayTopicActivity"
            />
        </activity>
        <activity
            android:name = ".ArrayIntroduction"
            android:label = "@string/array_introduction"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayDeclaration"
            android:label = "@string/array_declaration"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArraySelectSort"
            android:label = "@string/array_select_sort"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayBubbleSort"
            android:label = "@string/array_bubble_sort"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayMergeSort"
            android:label = "@string/array_merge_sort"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayLinearSearch"
            android:label = "@string/array_linear_search"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayBinarySearch"
            android:label = "@string/array_binary_search"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListTopicActivity"
            android:label = "@string/linkedList_topic_activity"
            android:parentActivityName = ".TopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".LinkedListTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListIntro"
            android:label = "@string/linkedList_introduction"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".LinkedListTopicActivity"
                />
        </activity>

        <activity
            android:name=".SurfaceActivity"
            android:label="SurfaceActivity"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayDeclaration"/>
        </activity>

        <activity
            android:name = ".LinkedListDeclaration"
            android:label = "@string/linkedList_declaration"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".LinkedListTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListInsert"
            android:label = "@string/linkedList_insertion"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinkedListTopicActivity"
            />
        </activity>

        <activity
            android:name = ".LinkedListRemoval"
            android:label = "@string/linkedList_removal"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinkedListTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListRotation"
            android:label = "@string/linkedList_rotation"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LinkedListTopicActivity"
                />
        </activity>

    </application>
</manifest>
