<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interactivelearning.datastructuresandalgorthims" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:theme = "@style/AppTheme" >

        <activity
            android:name = ".TopicActivity"
            android:label = "@string/title_activity_topic" >
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />
                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name = ".ArrayTopicActivity"
            android:label = "@string/array_topic_activity"
            android:parentActivityName = ".TopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".ArrayTopicActivity"
            />
        </activity>
        <activity
            android:name = ".ArrayIntro"
            android:label = "@string/array_topic_intro"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = "ArrayDeclare"
            android:label = "@string/array_declare"
            android:parentActivityName = ".ArrayTopicActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArrayTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListTopicActivity"
            android:label = "@string/linkedList_topic_activity"
            android:parentActivityName = ".TopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".LinkedListTopicActivity"
                />
        </activity>

        <activity
            android:name = ".LinkedListIntro"
            android:label = "@string/linkedList_topic_intro"
            android:parentActivityName = ".LinkedListTopicActivity">

            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".LinkedListTopicActivity"
                />
        </activity>
        <!--
                <activity
                    android:name = "LinkedListDeclare"
                    android:label = "@string/LinkedList_declare"
                    android:parentActivityName = ".LinkedListTopicActivity">

                    <meta-data
                        android:name="android.support.PARENT_ACTIVITY"
                        android:value=".LinkedListTopicActivity"
                        />
                </activity>
        -->
    </application>
</manifest>
